// COLORS

$dark-color:#000000;
$light-color:#ffffff;
$medium-color: #c5c5c5;
$grey-color: #ffffff2d;
$contrast-color: #ff0000;

// FONTS

$font-standard: 'Lato', sans-serif;
$font-title: 'Metal Mania', cursive;